<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/externo/fontawesome-free-5.15.2-web/css/all.css"><!--Iconos-->
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600;700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@700&family=Lovers+Quarrel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Charm&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/externo/bootstrap/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/estilos/style.css">
    <title>Hotel Cache - Login/Register</title>
</head>
<body>
    <div class="container-fluid"><!--Contenedor principal-->
        <div class="row">
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-info"><!--Barra de navegación-->
                  <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <img src="/img/logo/hotel_cache_v2.svg" class="logo" alt="logo_hotel"> <!--Logotipo-->
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                      <li class="nav-item">
                        <a class="nav-link active" href="/index.html">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Reserve</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Rooms</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Location</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="mvc/view/registerLogin.html">Sign in/Login</a>
                        </li>
                    </ul>
                  </div>
                  </div>
                </nav>
              </header>
        </div>
          
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mx-auto p-0">
                <div class="card-group">
                    <div class="login-box">
                        <div class="login-snip"> 
                            <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
                            <label for="tab-1" class="tab">Login</label> 
                            <input id="tab-2" type="radio" name="tab" class="sign-up">
                            <label for="tab-2" class="tab">Sign Up</label>
                            
                            <form>
                            <div class="login-space">
                                <div class="login">
                                    <div class="group"> <label for="user" class="label">Username</label> <input id="user" type="text" class="input" placeholder="Enter your username"> </div>
                                    <div class="group"> <label for="pass" class="label">Password</label> <input id="pass" type="password" class="input" data-type="password" placeholder="Enter your password"> </div>
                                    <div class="group"> <input id="check" type="checkbox" class="check" checked> <label for="check"><span class="icon"></span> Keep me Signed in</label> </div>
                                    <div class="group"> <input type="submit" id="effect" class="button" value="Sign In"> </div>
                                    <div class="hr"></div>
                                    <div class="foot"> <a href="#">Forgot Password?</a> </div>
                                </div>
                              </form>

                            <form class="" action="">
                                <div class="sign-up-form">
                                    <div class="group"> <label for="user" class="label">Username</label> <input id="user" type="text" class="input" placeholder="Create your Username"> </div>
                                    <div class="group"> <label for="pass" class="label">Password</label> <input id="pass" type="password" class="input" data-type="password" placeholder="Create your password"> </div>
                                    <div class="group"> <label for="pass" class="label">Repeat Password</label> <input id="pass" type="password" class="input" data-type="password" placeholder="Repeat your password"> </div>
                                    <div class="group"> <label for="pass" class="label">Email Address</label> <input id="pass" type="text" class="input" placeholder="Enter your email address"> </div>
                                    <div class="group"> <input type="submit" class="button" value="Sign Up"> </div>
                                    <div class="foot"> <label for="tab-1">Already Member?</label> </div>
                                </div>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
            <footer class="bg-info d-flex flex-column pt-3"><!--Footer-->
                <div class=" d-flex flex-row justify-content-around footer">
                  <div class="d-flex flex-column">
                    <h2>Information</h2>
                    <hr>
                    <ul>
                      <li><a href="#">Who we are</a></li>
                      <li><a href="#">Contact</a></li>
                      <li><a href="#">Legal Notice</a></li>
                      <li><a href="#">Cookies</a></li>
                    </ul>
                  </div>
                  <div class="d-flex flex-column">
                    <h2 id="social">Social Media</h2>
                    <hr>
                    <div class="d-flex flex-row">
                    <img src="/img/logo/logo-facebook.svg" class="logo">
                    <img src="/img/logo/logo-instagram.svg" class="logo">
                  </div>
                  </div>
                  <div >
                    <img src="/img/logo/hotel_cache_v2.svg" class="logofooter pt-2">
                  </div>
                </div>
                <div class="d-flex justify-content-center pt-3">
                  <p>© 2021 Matias Osorio & Javier Loureiro</p>
                </div>
              </footer> 
    </div>  
     
    <script src="/externo/jquery/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="/externo/bootstrap/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-popRpmFF9JQgExhfw5tZT4I9/CI5e2QcuUZPOVXb1m7qUmeR2b50u+YFEYe1wgzy"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-highlight@3.5.0/jquery.highlight.min.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>










