
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cormorant Garamond', serif;
    
}

.container-fluid header nav ul li a{
    color: rgb(140, 140, 41)!important;
    font-size: 28px;
}



.calendario #texto_destino {
    font-family: 'Lovers Quarrel', cursive;
    font-size: 3vw;
}


.logo{
    height:110px;
    width: 110px;
}

.calendario #busqueda{
    align-items: center;
    width: auto;
    position: relative;
    margin: 5px;
}

.calendario #botonBuscar {
    margin-top: 20px;
    padding: 10px;
    width: 40%;
    position: relative;

}


.calendario{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/portada/portada.jpg");
    
}

.calendario hr {
    border-top: 2px solid #fff;
}

.calendario h1{
    font-size: 3vw;
    margin-bottom: 5px;
}

.calendario h4 {
    font-size: 2vw;
    margin-bottom: 20px;
}

.calendario #boton_facebook {
    width: 15%;
    height: 15%;
}

.calendario #entrada {
    width: auto;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
   
}

.calendario #salida{
    width: auto;  
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;

}

.calendario #iconos {
    position: relative;
}


.sombra {
    position: absolute;
    left: 50%;
    top: 60%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin: auto;
    width: 50%;
}



.bg-info {
    background-color: rgb(0, 2, 130)!important;
}

.navbar-light .navbar-toggler-icon {
    background-color: rgb(140, 140, 41);
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 255, 255, 41' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}




  #servicios #presentacion {
    font-family: 'Charm', cursive;
    font-size: 1.6vw;
    margin-top: 2%;
    margin-bottom: 2%;
    color: rgb(0, 2, 130);

  }

 #servicios h1{
    font-size: 3vw;
    font-family: 'Charm', cursive;
    color: rgb(0, 2, 130);
    margin-top: 2%;
 }

 footer{
    color: rgb(140, 140, 41)!important;
 }


 .logofooter{
     width: 10em;
 }

 footer ul li a{
    color: rgb(140, 140, 41)!important;
    text-decoration: none;
 }